<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>POCImmunization</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetVaccineDetails</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.GetVaccineDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVaccineDetails</servlet-name>
    <url-pattern>/getVaccineDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedule</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.GetSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedule</servlet-name>
    <url-pattern>/getSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDoctorNames</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.GetDoctorNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDoctorNames</servlet-name>
    <url-pattern>/getDoctorNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPwServ</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.ResetPwServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPwServ</servlet-name>
    <url-pattern>/resetPwServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeAddParameter</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.BeforeAddParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeAddParameter</servlet-name>
    <url-pattern>/beforeAddParameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForecastServ</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.ForecastServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForecastServ</servlet-name>
    <url-pattern>/forecastServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckDemographics</servlet-name>
    <servlet-class>com.cerner.immunizationForecast.servlets.CheckDemographics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDemographics</servlet-name>
    <url-pattern>/checkDemographics</url-pattern>
  </servlet-mapping>
</web-app>